In [1]:
import pandas as pd
import numpy as np
import re
import statistics

Defino todos los import al principio y, a continuación, importo el .csv:

In [2]:
original = pd.read_csv('./GSAF5.csv', engine='python')
original.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [3]:
original.shape

(5992, 24)

Creo un nuevo dataframe seleccionando las columnas con las que voy a trabajar y prescindiendo del resto, pero mantengo la columna "original order" ya que tiene valores únicos y podría usarla como identificador si tuviera que referenciar en un futuro datos adicionales a este dataframe de alguna de las columnas eliminadas:

In [4]:
base = original[['original order', 'Date', 'Type', 'Country', 'Area', 'Location', 'Injury', 'Fatal (Y/N)', 'Investigator or Source']].copy()
base.head()

,original order,Date,Type,Country,Area,Location,Injury,Fatal (Y/N),Investigator or Source
0,5993,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Minor injury to thigh,N,"Orlando Sentinel, 9/19/2016"
1,5992,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Lacerations to hands,N,"Orlando Sentinel, 9/19/2016"
2,5991,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Lacerations to lower leg,N,"Orlando Sentinel, 9/19/2016"
3,5990,17-Sep-16,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Struck by fin on chest & leg,N,"The Age, 9/18/2016"
4,5989,16-Sep-16,Unprovoked,AUSTRALIA,Victoria,Bells Beach,No injury: Knocked off board by shark,N,"The Age, 9/16/2016"

In [5]:
base.shape

(5992, 9)

Compruebo los valores que aparecen en la columna Type:

In [6]:
pd.unique(base['Type']).tolist()

['Unprovoked', 'Boat', 'Provoked', 'Invalid', 'Sea Disaster', 'Boating']

Unifico 'Boat' y 'Boating':

In [7]:
base.replace({'Type': {'Boat': 'Boating'}},  inplace = True)

In [8]:
pd.unique(base['Type']).tolist()

['Unprovoked', 'Boating', 'Provoked', 'Invalid', 'Sea Disaster']

Examino los valores de los type 'Invalid' y 'Sea Disaster' en la columna 'Injury':

In [9]:
type_invalid = base.query('Type == "Invalid"', inplace = False)
type_invalid.head()

,original order,Date,Type,Country,Area,Location,Injury,Fatal (Y/N),Investigator or Source
50,5943,07-Jun-16,Invalid,USA,South Carolina,"Folly Beach, Charleston County","No injury, board damaged",N,"C. Creswell, GSAF"
73,5920,08-Apr-16,Invalid,CAPE VERDE,Boa Vista Island,NaN,"""Serious""",N,L.O.Guttke
75,5918,07-Apr-16,Invalid,USA,Florida,"Corners Beach, Jupiter, Palm Beach County",Fell off board when spinner shark leapt from t...,N,YouTube
81,5912,13-Mar-16,Invalid,USA,California,"Bolsa Chica State Park, Orange County",Board reportedly bumped by shark. No injury,N,"Orange County Register, 3/13/2016"
90,5903,Reported 10-Feb-2016,Invalid,CAYMAN ISLANDS,Grand Cayman,Stingray City Bar,Minor injury to wrist from Southern stingray,N,R. Branson

In [10]:
type_invalid['Injury'].value_counts()

No injury                                                                                                                                                                                       21
FATAL                                                                                                                                                                                           16
Probable drowning & scavenging                                                                                                                                                                   8
No details                                                                                                                                                                                       5
Shark involvement prior to death unconfirmed                                                                                                                                                     5
Shark involvement prior to death was not confirmed                                                                                                                                               4
Probable drowning with post-mortem bites                                                                                                                                                         4
Death may have been due to drowning                                                                                                                                                              4
Probable drowning / scavenging                                                                                                                                                                   4
Survived                                                                                                                                                                                         3
FATAL, but shark involvement prior to death was not determined                                                                                                                                   3
Shark bites were post-mortem                                                                                                                                                                     3
FATAL, but shark involvement prior to death unconfirmed                                                                                                                                          3
Shark involvement not confirmed                                                                                                                                                                  3
Leg bitten                                                                                                                                                                                       2
Human remains found in shark                                                                                                                                                                     2
Shark involvement prior to death not confirmed                                                                                                                                                   2
Shark bites post mortem                                                                                                                                                                          2
Shark bites may have been post mortem                                                                                                                                                            2
Abrasions                                                                                                                                                                                        2
Disappeared, but shark involvement unconfirmed                                                                                                                                                   2
No injury, no attack                                                                                                                                                                             2
Drowned, body scavenged by shark                                                                                                                                                                 2
Probable drowning                                                                                                                                                                                2
Missing, thought to have been taken by a shark                                                                                                                                                   2
No injury, shark made a threat display                                                                                                                                                           2
Left forearm lacerated                                                                                                                                                                           2
FATAL, but shark involvement prior to death was not confirmed                                                                                                                                    2
Foot lacerated                                                                                                                                                                                   2
Puncture wounds to foot                                                                                                                                                                          2
                                                                                                                                                                                                ..
Laceration to foot                                                                                                                                                                               1
Speculated that he was taken by a shark but most likely drowned                                                                                                                                  1
Sharks were numerous & took corpses but made no attempts to harm the survivors.                                                                                                                  1
Later found to be fixtion, never happened                                                                                                                                                        1
 3 unidentified bodies recovered (male, female & young girl) from gut of female  4.5 m [14'9"]  white shark caught in fishing net. They may have drowned in tidal wave following earthquake      1
Drowned & his body was not recovered. Sharks seen in area later that day but no shark involvement in surfer's death                                                                              1
Drowned, his remains were found in a 3m [10'], 368 kg [811-lb] tiger shark                                                                                                                       1
Incident not confirmed                                                                                                                                                                           1
Probable drowning and scavenging                                                                                                                                                                 1
Scrape to right forearm. Frennet says inflicted by a blue shark, but authorities question shark involvement                                                                                      1
PRESUMED FATAL, body not recovered                                                                                                                                                               1
Abrasions to left hand                                                                                                                                                                           1
Shark caught, contained human remains                                                                                                                                                            1
As he pushd the shark away from his camera, his finger was cut on a tooth                                                                                                                        1
FATAL?                                                                                                                                                                                           1
No injury, shark leapt at him                                                                                                                                                                    1
 Forced at gunpoint to jump overboard. Presumed fatal; shark involvement probable but not confirmed                                                                                              1
Dorsum of foot/ankle  injured by surfboard skeg or other inanimate object.                                                                                                                       1
Torso bitten but may have been postmorem                                                                                                                                                         1
Human remains (right forearm & leg) recovered from 3.7m [12'] tiger shark�s gut. Forensic examination suggested the remains had been consumed by the shark one to two weeks earlier              1
Minor injury to wrist from Southern stingray                                                                                                                                                     1
Abrasion above knee                                                                                                                                                                              1
Although this incident is listed elsewhere as a shark attack, the account of the disaster suggests the 4 who perished probably drowned. Five people survived                                     1
No injury. No attack. 12' white shark appeared curious, not aggressive & departed when prodded by spear                                                                                          1
Thumb & coat sleeve recovered from shark's gut                                                                                                                                                   1
Reported to have been killed by a shark but 2 years later he was found very much alive                                                                                                           1
Minor lacerations & abrasions to lower leg.                                                                                                                                                      1
Laceration to back                                                                                                                                                                               1
Shark involvement prior to death priunconfirmed                                                                                                                                                  1
No injury, board damaged                                                                                                                                                                         1
Name: Injury, Length: 420, dtype: int64

In [11]:
type_disaster = base.query('Type == "Sea Disaster"', inplace = False)
type_disaster.head()

,original order,Date,Type,Country,Area,Location,Injury,Fatal (Y/N),Investigator or Source
243,5749,28-Dec-14,Sea Disaster,GREECE,NaN,33 nautical miles off Othonoi Island,"Of 9 bodies recovered, one was bitten by a shark",N,"Greek Reporter, 1/13/2015"
365,5628,04-Jan-14,Sea Disaster,JAPAN,Okinawa Prefecture,Off Miyako Island,5 cm bite to left foot,N,"Focus Taiwan, 1/7/2014"
668,5325,30-Jul-11,Sea Disaster,PHILIPPINES,NaN,NaN,The two Malabagos were bitten by sharks but su...,N,"ABS-CBN News, 8/17/2011"
935,5058,08-Feb-09,Sea Disaster,USA,Puerto Rico,Quebradillas,It is probable that all 5 passengers died on i...,Y,"C. Ekstander, GSAF"
966,5027,25-Nov-08,Sea Disaster,PHILIPPINES,Batanes Provine,Luzon Strait,"Of the 20 crew, 4 were bitten by shark. None o...",N,"C. Johansson, GSAF"

In [12]:
type_disaster['Injury'].value_counts()

FATAL                                                                                                                                                                                                                                          49
FATAL x 2                                                                                                                                                                                                                                       4
Survived                                                                                                                                                                                                                                        2
Leg bitten                                                                                                                                                                                                                                      2
Foot bitten                                                                                                                                                                                                                                     2
FATAL                                                                                                                                                                                                                                           2
Foot severed                                                                                                                                                                                                                                    2
FATAL, some were taken by sharks                                                                                                                                                                                                                2
Puncture wounds to right thigh                                                                                                                                                                                                                  1
About 300  crew perished during the sinking, the remainder abandoned ship. Many who survived the loss of the ship were taken by sharks. In all, only 316 of her crew of 1,196 survived.                                                         1
Of the 42 people on board, 5 died of exposure, others drowned or were taken by sharks, and survivors were rescued after spending 3 days in the water.                                                                                           1
FATAL Arm bitten                                                                                                                                                                                                                                1
Probable drowning & scavenging                                                                                                                                                                                                                  1
FATAL & some of the survivors were bitten by sharks                                                                                                                                                                                             1
It was believed that survivors were killed by sharks                                                                                                                                                                                            1
3 of the 4 passengers killed by sharks                                                                                                                                                                                                          1
Clinton was bitten on his back, 2 others did not survive                                                                                                                                                                                        1
 55  perished, some were  taken by sharks                                                                                                                                                                                                       1
FATAL, shark seized her by the chest and took her underwater                                                                                                                                                                                    1
FATAL, shark bit leg, then dragged him underwater                                                                                                                                                                                               1
FATAL, it was  thought  the surviving crew  were taken by sharks                                                                                                                                                                                1
FATAL, arms & legs bitten                                                                                                                                                                                                                       1
Thought to have been taken by a shark                                                                                                                                                                                                           1
Presumed FATAL                                                                                                                                                                                                                                  1
FATAL, only 1 of her crew of 7 survived                                                                                                                                                                                                         1
Next day 2 bodies recovered from sharks                                                                                                                                                                                                         1
Of 104 people in the water, only 20 survived. 84 people were lost, many to sharks. Sharks 2 pulled crew off life rafts                                                                                                                          1
40 people perished                                                                                                                                                                                                                              1
FATAL. Womack was injured when plane went down, 3 days later he fell off liferaft & was taken by a shark                                                                                                                                        1
Minor injuries                                                                                                                                                                                                                                  1
                                                                                                                                                                                                                                               ..
FATAL, only his legs, still in sea-boots, were recovered                                                                                                                                                                                        1
Some of the survivors said to have been bitten by sharks                                                                                                                                                                                        1
No injury, but shark removed the heel & part of his left shoe                                                                                                                                                                                   1
Herodotus tells of sharks attacking men in the water                                                                                                                                                                                            1
According to survivors, many people were taken by sharks                                                                                                                                                                                        1
FATAL, 101 people perished, including commander, Joseph Couailhac. Iit was reported that a �shoal of sharks circled  passengers in the water and dragged scores of people to their deaths� Of the 61 survivors, many were injured by sharks     1
An estimated  3,000 to 7,000 Japanese troops perished, some were taken by sharks                                                                                                                                                                1
11 of her crew perished, most, possibly all, deaths were due to drowning                                                                                                                                                                        1
Laceration to torso                                                                                                                                                                                                                             1
Leg, foot & arm bitten                                                                                                                                                                                                                          1
Of 160 people on board, >100 missing                                                                                                                                                                                                            1
Boat capsized in squall. 2 bodies scavenged  by sharks                                                                                                                                                                                          1
Severely bitten on heel, 20 others taken by sharks                                                                                                                                                                                              1
2 people survived, 6 drowned & the others were killed by sharks                                                                                                                                                                                 1
7 rescued, 7 bodies recovered, 10 missing. Many sharks in crash area.                                                                                                                                                                           1
Of her crew of 50, eight perished, including the two injured men                                                                                                                                                                                1
Sharks attacked raft & consumed the body of Ericsson after he died                                                                                                                                                                              1
Disappeared, thought to have murdered or drowned or  taken by a sharks after entrails washed ashore                                                                                                                                             1
FATAL X 2, 8 others missing. Survivors fought off sharks & sharks seen biting 2 of the dead. The 39 survivors were rescued by the German freighter Essen                                                                                        1
FATAL, other human remains bitten by sharks, 13 people missing                                                                                                                                                                                  1
As searchers approached wreckage, sharks circled one canoe & seized oar from another.                                                                                                                                                           1
FATAL, only 1 survivor                                                                                                                                                                                                                          1
Navy personnel recovered 19 shark-scavenged bodies                                                                                                                                                                                              1
15 perished but shark involvement prior to death was not confirmed                                                                                                                                                                              1
FATAL, "men snatched from rafts by sharks"                                                                                                                                                                                                      1
Bodies of 5 of the 6 men on board were bitten by by sharks. Sharks may have contributed to the death of some of them.                                                                                                                           1
FATAL, both were killed by sharks                                                                                                                                                                                                               1
FATAL, at time of sinking several men were thrown in water & killed by sharks, survivors were rescued 3 days later by the Panamanian ship Christobel                                                                                            1
Fingers badly lacerated, wounds became septic                                                                                                                                                                                                   1
Sharks attacked sailors in the water, several survivors picked up                                                                                                                                                                               1
Name: Injury, Length: 162, dtype: int64

In [13]:
base['Type'].nunique()

5

Descarto los type 'Invalid' porque o no está confirmada la implicación de tiburones, o los ataques han sido post-mortem. También descarto los type 'Sea Disaster' porque considero que es natural que si hay un accidente en alta mar, los tiburones se alimenten de lo que encuentren, por lo que me centraré en los casos en que los tiburones se hayan acercado a las playas o la línea de costa expresamente

In [14]:
base.query('Type == "Unprovoked" or Type == "Provoked" or Type == "Boating"', inplace = True)
base.head()

,original order,Date,Type,Country,Area,Location,Injury,Fatal (Y/N),Investigator or Source
0,5993,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Minor injury to thigh,N,"Orlando Sentinel, 9/19/2016"
1,5992,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Lacerations to hands,N,"Orlando Sentinel, 9/19/2016"
2,5991,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Lacerations to lower leg,N,"Orlando Sentinel, 9/19/2016"
3,5990,17-Sep-16,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Struck by fin on chest & leg,N,"The Age, 9/18/2016"
4,5989,16-Sep-16,Unprovoked,AUSTRALIA,Victoria,Bells Beach,No injury: Knocked off board by shark,N,"The Age, 9/16/2016"

Compruebo que solo queden los tres valores que quería en la columna Type:

In [15]:
base['Type'].nunique()

3

In [16]:
base.shape

(5253, 9)

Compruebo cuántos registros tienen el Country en blanco:

In [17]:
base['Country'].isna().sum()

31

Decido prescindir de esos 31 registros, porque no afecta al análisis:

In [18]:
base.dropna(subset=['Country'], inplace = True)

In [19]:
base.shape

(5222, 9)

Compruebo los valores de los registros en 'Fatal (Y/N)' y los unifico:

In [20]:
pd.unique(base['Fatal (Y/N)']).tolist()

['N', 'Y', nan, 'UNKNOWN', ' N', 'N ', 'n']

In [21]:
base.replace({'Fatal (Y/N)': {' N': 'N'}}, inplace = True)
base.replace({'Fatal (Y/N)': {'N ': 'N'}}, inplace = True)
base.replace({'Fatal (Y/N)': {'n': 'N'}}, inplace = True)
pd.unique(base['Fatal (Y/N)']).tolist()

['N', 'Y', nan, 'UNKNOWN']

In [22]:
base['Fatal (Y/N)'].value_counts()

N          4006
Y          1144
UNKNOWN      67
Name: Fatal (Y/N), dtype: int64

In [23]:
base['Fatal (Y/N)'].isna().sum()

5

Decido prescindir de los 67 registros 'unknown' y los 5 'nan', porque no afecta al análisis:

In [24]:
base = base.drop(base[base['Fatal (Y/N)'] == "UNKNOWN"].index, axis = 0)

In [25]:
base.shape

(5155, 9)

In [26]:
base.dropna(subset=['Fatal (Y/N)'], inplace = True)

In [27]:
base.shape

(5150, 9)

In [28]:
pd.unique(base['Fatal (Y/N)']).tolist()

['N', 'Y']

In [29]:
print(base['Date'].dtype)

object

In [33]:
base.replace({'Date': {'\-+': ''}}, inplace = True)
base.head()

,original order,Date,Type,Country,Area,Location,Injury,Fatal (Y/N),Investigator or Source
0,5993,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Minor injury to thigh,N,"Orlando Sentinel, 9/19/2016"
1,5992,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Lacerations to hands,N,"Orlando Sentinel, 9/19/2016"
2,5991,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Lacerations to lower leg,N,"Orlando Sentinel, 9/19/2016"
3,5990,17-Sep-16,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Struck by fin on chest & leg,N,"The Age, 9/18/2016"
4,5989,16-Sep-16,Unprovoked,AUSTRALIA,Victoria,Bells Beach,No injury: Knocked off board by shark,N,"The Age, 9/16/2016"